# Virtual environment
venv/
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.bak